certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudinary==1.15.0
dnspython==1.16.0
enum-compat==0.0.2
eventlet==0.24.1
Flask==1.0.2
Flask-SocketIO==3.2.1
Flask-SQLAlchemy==2.3.2
future==0.17.1
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
line-bot-sdk==1.8.0
MarkupSafe==1.1.0
mock==2.0.0
monotonic==1.5
pbr==5.1.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
python-engineio==3.3.0
python-socketio==3.1.2
requests==2.21.0
six==1.12.0
SQLAlchemy==1.2.17
-e git+git@github.com:tomoima525/pipi.git@92e787fe43760ce2a75274aef5657c784c86b491#egg=pipi
urllib3==1.24.1
Werkzeug==0.14.1
