{% extends "layout.html" %}
{% block body %}
<script>
$('#upfile').change(function(){
  if (this.files.length > 0) {
    // 選択されたファイル情報を取得
    var file = this.files[0];

    // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
    var reader = new FileReader();
    reader.readAsDataURL(file);

    reader.onload = function() {
      $('#thumbnail').attr('src', reader.result );
    }
  }
});
</script>
  {% if session.logged_in %}
    <form action="{{ url_for('add_image') }}" method=post enctype="multipart/form-data">
      <dl>
        <dt>Image:
        <dd><p><input type="file" name="file" id="upfile" accept="image/*" multiple/></p>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=images>
  {% for image in images %}
    <li><h2>{{ image.public_id }}</h2><img src="{{ image.url|safe }}" />
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
